.vm {
}

.vm_briefing {
  width: 500px;
}

.resident_vm_list {
  margin-top: 20px;
}

.resident_vm_table {
  width: 100%;
}

.resident_vm_list_header {
  font-weight: bold;
  font-size: 12;
  padding-right: 10px;
  padding-left: 10px;
}

.resident_vm_cell {
  background: #ECE9E9;
  margin-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.sec_title {
  font-weight: bold;
  margin-bottom: 10px;
}

.vm_list_row {
}

div.vm_cell_overview {
  font-weight: normal;
  font-size: x-small;
  margin-left: 10px;
}

td.vm_cell {
  border-bottom: 5px solid transparent;
  text-align: left;
  text-indent: 5px;
  font-weight: bold;
  font-size: 16px;
  color: #605D5D;
}

td.vm_cell_op {
  border-bottom: 10px;
  background-color: #B9B9B9;
  text-indent: 5px;
  font-weight: bold;
  padding-right: 10px;
  width: 60px;
  font-size: 18px;
}
td.vm_cell_op a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
td.vm_cell_op a:hover {
  color: black;
}

.vm_field {
  padding: 2px;
  background-color: #FFFEB7;
}

.vm_field span {
}

.vm_field .vm_name {
  text-align:left;
  padding-left: 15px;
}

.vm_field .vm_list {
  padding-top: 10px;
}

.vm_header {
  font-size: 18;
  font-weight: bold;
}
.vm_header label {
  float: right;
  padding-right: 120px;
  padding-top: 20px;
}

.vm_details {
  padding: 10px;
  background-color: #FFFEB7;
  border: 1px solid #686666;
}

.vm_details label {
  font-weight: bold;
  color: #686666;
  float: left;
  width: 150px;
}
